# Reference HLS configuration for atomflow_controller (Vitis HLS 2024.2).
#
# This file is a checked-in reference copy. The build flow does NOT read or
# overwrite it: hls_run_atomflow_controller.py generates an equivalent .cfg
# with absolute paths into its temporary workspace at run time.
#
# Paths below are relative to this file's directory (atomflow_controller/), so
# invoke vitis_hls from that directory if you want to use this file directly:
#     cd atomflow_controller && vitis_hls -f ... --config hls_config_atomflow.cfg

part=xczu49dr-ffvf1760-2-e

[hls]
flow_target=vivado
package.output.format=ip_catalog
package.output.syn=false
syn.top=atomflow_controller
syn.file=atomflow_controller.cpp
syn.file=../Image_analysis/src/image_analysis.cpp
syn.file=../sorting-organized-main/src/sortLatticeByRow.cpp
syn.cflags=-std=c++14 -Isrc -I../Image_analysis/src -I../sorting-organized-main/src
syn.csimflags=-std=c++14 -Isrc -I../Image_analysis/src -I../sorting-organized-main/src
tb.file=src/tb_atomflow_controller.cpp
tb.cflags=-std=c++14 -Isrc -I../Image_analysis/src -I../sorting-organized-main/src
clock=10ns
